.Teachers {
    margin: 0 0 2rem;

    .TopButtons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
}