.LoginModal {
    .Background {
        z-index: 98;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: rgba(0, 0, 0, .25);
    }

    .LoginWrapper {
        transition: all .2s;
        opacity: 1;
        transform: scale(1);
        width: 50%;
        min-height: 4rem;
        position: fixed;
        background: #fff;
        z-index: 99;
        left: 25vw;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 13px 28px 0 rgba(0, 71, 131, .25);

        .ModalTitle {
            width: 100%;
            padding: 1rem 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .Title {
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: 200;
                font-family: 'Open Sans', sans-serif;
            }

            .CloseButton {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: .5rem;
                border-radius: 50%;
                transition: all .2s linear;

                &:hover {
                    color: #fff;
                    background-color: #004783;
                    cursor: pointer;
                    box-shadow: 0 13px 28px 0 rgba(0, 71, 131, .25);
                }
            }
        }

        .ModalBody {
            padding: 1rem 3rem;
            border: 1px solid #E0E9EF;
            border-left: 0;
            border-right: 0;

            .Form {
                margin-bottom: 1rem;
                label {
                    color: #004783;
                    font-weight: 500;
                }

                .ModalInput {
                    width: 100%;
                    outline: none;
                    border: 1px solid #E0E9EF;
                    padding: .375rem .75rem;
                    border-radius: 20px;

                    &:focus {
                        border: 1px solid #004783;
                        box-shadow: 0 13px 28px 0 rgba(0, 71, 131, .25);
                    }
                }
            }
        }

        .ModalFooter {
            padding: 1rem 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .Off {
        opacity: 0;
        transform: scale(0);
    }

}
