.Header {
    font-family: 'Nunito', sans-serif;
    padding: 20px;
    margin: 0 0 20px;
    background: #fff;
    box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .LeftHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .Logo {
            height: 60px;
            width: auto;
            border-radius: 50%;
            transition: all .2s linear;

            &:hover {
                box-shadow: 0 13px 28px 0 rgba(0, 71, 131, .25);
            }
        }

        .Title {
            margin-left: 1rem;
            font-size: 2rem;
            color: #004783;
            font-weight: 500;
        }
    }
}
