@import 'Input';
@import 'Card';
@import 'Button';
@import 'Table';

a {
    color: #004783;
}

.PageTitle {
    font-weight: 300;

    .BackButton {
        margin-right: 1rem;
        text-decoration: none;
    }
}