.Filter {
    min-height: 3rem;
    border: 1px solid #E0E9EF;
    background: #fff;
    box-shadow: 0 13px 28px 0 rgba(0, 71, 131, .25);
    padding: 1rem;

    .LoadingWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Suggestions {
        .Suggestion {
            cursor: pointer;
            margin: .5rem 0;
            padding: .35rem .75rem;
            border: 1px solid transparent;
            border-radius: 4px;
            transition: all .2s linear;

            &:hover {
                color: #004783;
                box-shadow: 0 13px 28px 0 rgba(0, 71, 131, .25);
            }
        }
    }

    .FilterInput {
        width: 100%;
        padding: .35rem .75rem;
        outline: none;
        border-radius: 20px;
        border: 1px solid #E0E9EF;
        transition: all .2s linear;

        &:focus {
            border-color: #004783;
        }
    }

    .SubmitWrapper {
        width: 100%;
        display: flex;
        margin: 1rem 0 0;
        justify-content: center;
        align-items: center;
    }
}
