@import '~bootstrap/dist/css/bootstrap.css';
@import './header/index';
@import './commons/index';
@import './homepage/index';
@import './login-modal/index';
@import './user-menu/index';
@import './user-homepage/index';
@import './teachers/index';
@import './teacher-info/index';
@import './input/index';
@import './teacher-fields/index';
@import './teacher-topics/index';
@import './teacher-homepage/index';

body,
html,
#root {
    min-height: 100vh;
    background: #F9FBFE;
}

button {
    outline: none !important;
}