.UserHomepage {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 -1rem;

    .Section {
        width: 50%;
        padding: 0 1rem;
        margin-bottom: 1rem;

        .SectionWrapper {
            height: 100%;
            background: #fff;
            border-radius: .25rem;
            box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px,
                rgba(0, 0, 0, 0.05) 0px 0.5px 1px;
            transition: all 0.333s ease-out 0s;

            .SectionHeader {
                padding: 1rem;
                font-weight: 200;
                font-size: 1.75rem;
                border-bottom: 1px solid rgba(115, 115, 115, 0.1);
                ;
            }

            .SectionBody {
                padding: 1rem;
                font-size: 1.25rem;

                .SectionLink {
                    cursor: pointer;
                    border-bottom: 1px solid transparent;
                    width: fit-content;
                    transition: border .45s ease;
                    margin: .5rem 0;

                    .ArrowIcon {
                        color: #004783;
                        margin-right: .5rem;
                    }

                    a {
                        color: inherit;
                        text-decoration: none;
                    }

                    &:hover {
                        border-color: #004783;
                    }
                }
            }

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px, rgba(0, 0, 0, 0.18) 0px 4px 11px;
            }
        }
    }
}